#cat-word {
	display: inline-block;
	position: absolute;
    left: 320px;
    top: 40px;
    z-index: -1;
}
##cat-pic {
	/*min-width: 300px;*/
	min-height: 300px;
	width: 300px;
	height: auto;
	border: 4px double black;
	display: inline-block;
	background: black;
	overflow:scroll;
	/*object-fit: fill;*/
	/*clip: rect(300px,300px,300px,300px);*/
}

img {
	width: 300px;
	height: 300px;
}

#bubble {
	width: auto;
	height: auto;
	z-index: 100;

}



#kitty-word {
	display: inline-block;
	position: absolute;
    left: 300px;
    top: 25px;
    z-index: 0;
}

#english {
	margin: left;
	font-family: courier;
	width: 750px;
	height: auto;
	border: 2px dotted black;
	background-color: #ffffe5;
	margin-bottom: 2px;
}

body{
	background-color: #ffe5cc;
}